{% extends 'patient/patientbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<!--
developed By : Amir Mohammad Parvizi
-->
<head>
    <style>
        .label {
     color: white;
     padding: 8px;
   }
   
   .success {background-color: #4CAF50;} /* Green */
   .info {background-color: #2196F3;} /* Blue */
   .warning {background-color: #ff9800;} /* Orange */
   .danger {background-color: #f44336;} /* Red */
   .other {background-color: #e7e7e7; color: black;} /* Gray */
    </style>
   </head>
<br><br>
<div class="container">
    <H4 class="text-center">My Blood Request</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">نام بیمار</th>
                <th scope="col">سن بیمار</th>
                <th scope="col">بیماری</th>
                <th scope="col">گروه خونی</th>
                <th scope="col">واحد</th>
                <th scope="col">تاریخ</th>
                <th scope="col">وضعیت</th>
                
            </tr>
        </thead>
        <tbody>
            {% for t in blood_request %}
            <tr>
                <td> {{t.patient_name}}</td>
                
                <td>{{t.patient_age}}</td>
                <td>{{t.reason}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.unit}}</td>
                <td>{{t.date}}</td>
                {% if t.status == 'Approved' %}
                <td><span class="label warning"> تایید شده</span></td>
                
                {% elif t.status == 'Rejected' %}
                <td><span class="label success">رد شد</span></td>
                {% else %}
                <td><span style="color: white;margin-left: 0px;" class="label info">در انتظار</span></td>
                {% endif %}
                

            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>
{% endblock content %}
